<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>더치페이 요청하기</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">
				<!-- Header -->
				<header id="header">
					<a href="/" class="logo"><strong>DonAtion</strong> 생활 속 기부 플랫폼</a>
					<ul class="icons">
						<li><a href="/login" class="button primary small">login</a></li>
					</ul>
				</header>

							<!-- Content -->
								<section>
									<header class="main">
										<h1>더치페이 요청하기</h1>
									</header>

									    <!-- Content -->
                                        <h2 id="content">금액을 입력해주세요</h2>
                                        <div class="col-12">
                                            <div class="col-6 col-12-xsmall">
                                                <input type="text" name="demo-name" id='totalAmount' value="" placeholder="더치페이 할 금액을 입력해주세요" />
                                            </div>
                                        </div>
                                        
                                        <br><br>

                                        
                                        <!-- 더치페이 할 친구 선택 -->
                                        <div class="col-12">
                                            <h2 id="content">더치페이 할 친구 선택</h2>
                                            <section id="search" class="alt">
                                                <input type="text" name="query" id='keywordInput' autocomplete="off" placeholder="Search"/>
                                            </section>

                                            <section>
                                                <table id="searchResultTable">
                                                    <!-- 검색결과 내용표시 자리 -->
                                                </table>
                                            </section>
                                        </div>

                                        <div class="table-wrapper">
                                            <table id='peerTable'>
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Email</th>
                                                        <th>Price</th>
                                                    </tr>
                                                </thead>
                                                <!-- 사용자가 추가한 peer(더치할 친구) 목록을 보여줄 자리 -->
                                                <tfoot>
                                                    <tr>
                                                        <td>Total</td>
                                                        <td></td>
                                                        <td id="showTotalAmount">0</td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                        




                                        <ul class="actions fit">
                                            <li><button id='kakaoBtn' class="button primary fit">카카오로 요청하기</button></li>
                                            <li><button id='messageBtn' class="button fit">문자로 요청하기</button></li>
                                        </ul>
		

								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="Search" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="index.html">Homepage</a></li>
										<li><a href="generic.html">Generic</a></li>
										<li><a href="elements.html">Elements</a></li>
										<li>
											<span class="opener">Submenu</span>
											<ul>
												<li><a href="#">Lorem Dolor</a></li>
												<li><a href="#">Ipsum Adipiscing</a></li>
												<li><a href="#">Tempus Magna</a></li>
												<li><a href="#">Feugiat Veroeros</a></li>
											</ul>
										</li>
										<li><a href="#">Etiam Dolore</a></li>
										<li><a href="#">Adipiscing</a></li>
										<li>
											<span class="opener">Another Submenu</span>
											<ul>
												<li><a href="#">Lorem Dolor</a></li>
												<li><a href="#">Ipsum Adipiscing</a></li>
												<li><a href="#">Tempus Magna</a></li>
												<li><a href="#">Feugiat Veroeros</a></li>
											</ul>
										</li>
										<li><a href="#">Maximus Erat</a></li>
										<li><a href="#">Sapien Mauris</a></li>
										<li><a href="#">Amet Lacinia</a></li>
									</ul>
								</nav>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Ante interdum</h2>
									</header>
									<div class="mini-posts">
										<article>
											<a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic08.jpg" alt="" /></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic09.jpg" alt="" /></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
									</div>
									<ul class="actions">
										<li><a href="#" class="button">More</a></li>
									</ul>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Get in touch</h2>
									</header>
									<p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
									<ul class="contact">
										<li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
										<li class="icon solid fa-phone">(000) 000-0000</li>
										<li class="icon solid fa-home">1234 Somewhere Road #8254<br />
										Nashville, TN 00000-0000</li>
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
								</footer>

						</div>
					</div>

			</div>

    
    <!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>


    <!-- Kakao JDK import & init -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>Kakao.init('3d53120e2911d77e8e6bd280ac4cf71b'); // kakao javascript key</script>

    <script>
        // 전역변수
        var totalAmount;
        var dutchAmount;
        var userinfo;


        var jwtToken = sessionStorage.getItem('jwtToken')
        
		if(!jwtToken){
			alert("로그인이 필요합니다!");
			window.location.href = '/login';
		}
        fetchUserData();
        function fetchUserData(){
            $.ajax({
                url:'http://localhost:3000/dutchRequest',
                type : 'POST',
                headers : {
                    'ourtoken' : jwtToken
                },
                success:function(data){
                    userinfo = data[0];
                }
            })
        }
    
        
        
        // 전체 금액을 입력하면 peerTable에 Total 출력
        $("#totalAmount").blur(function() {
            var totalAmount = $("#totalAmount").val();
            $("#showTotalAmount").replaceWith('<td>' + totalAmount + '</td>');

            // 사용자 정보 peerTable에 추가
            $("#peerTable").append(
                '<tbody><tr><td>' + userinfo.name + '</td><td>' + userinfo.email + '</td><td class=\'dutchAmount\'>' + totalAmount + '</td></tr></tbody>'
            )
        })


        // 검색 창의 값이 변경되면, DB에 검색 요청하고 결과테이블을 보여준다.
        var oldVal = "";
        $("#keywordInput").on("propertychange change keyup paste input", function() {
            var currentVal = $(this).val();
            if(currentVal == oldVal) {
                return;
            }
        
            oldVal = currentVal;
            console.log(currentVal);

            
            if(currentVal != "") {
                $.ajax({
                    url:'/searchPeer',
                    type : 'POST',
                    data : {
                        keyword : currentVal
                    },
                    success:function(data){
                        console.log(data);
                        
                        var a = '<table id=\'searchResultTable\'>';
                        for(var i = 0; i <data.length; i++) {
                            a += '<tr onclick=\'peerClicked(this);\' style="background-color: white;" onmouseover="this.style.background=\'rgb(249, 250, 250)\'" onmouseout="this.style.background=\'white\'"><td>' + data[i].name +'</td><td>' + data[i].email + '</td></tr>'
                        }
                        a += '</table>';
                        $("#searchResultTable").replaceWith(a);

                    }
                })
            } else {
                var a = '<table id=\'searchResultTable\'></table>';
                $("#searchResultTable").replaceWith(a);
            }
            

        });



        // peer를 선택했을 때, 해당 user를 peerTable에 추가
        var peer_num = 0;
        var peer_list = [];
        function peerClicked(tr) {
            console.log('name, email : ' + tr.cells[0].innerText + ', ' + tr.cells[1].innerText);

            totalAmount = $("#totalAmount").val();
            console.log(totalAmount);


            if (peer_list.indexOf(tr.cells[1]) == -1) {
                peer_list.push(tr.cells[1])

                peer_num++;
                console.log('peer_num: ', peer_num);

                dutchAmount = Math.ceil(totalAmount / (peer_num + 1))
                $("#peerTable").append(
                    '<tbody><tr><td>' + tr.cells[0].innerText + '</td><td>' + tr.cells[1].innerText + '</td><td class=\'dutchAmount\'>' + dutchAmount + '</td></tr></tbody>'
                )

                var dutchAmountClass = document.getElementsByClassName('dutchAmount');
                for (var i = 0; i < dutchAmountClass.length; i++) {
                    dutchAmountClass[i].innerHTML = dutchAmount;
                }
            }

        }


        // kakao로 링크 공유
        $("#kakaoBtn").click(function() {
            Kakao.Link.sendDefault({
                objectType: 'feed',
                content: {
                    title: '돈에이션 송금요청',
                    description: userinfo.name + '님이 송금요청을 보냈습니다!',
                    imageUrl:
                        'https://postfiles.pstatic.net/MjAyMDA1MTlfMTgw/MDAxNTg5ODYyMjEyNDQy.XpPTWi2nahh_R1aGKi1sZVAD-G_EsHTWAAiXotH0Khwg.BPth2Rkp4Fab00MM1ULXQq6Ac8kXSFdx-PUcEL8hjdwg.PNG.injong032/donation.png?type=w966',
                    link: {
                        mobileWebUrl: 'http://localhost:3000/main',
                        androidExecParams: 'test',
                    },
                },
                buttons: [
                    {
                        title: '웹으로 이동',
                        link: {
                            mobileWebUrl: 'http://localhost:3000/send?dutchAmount=' + dutchAmount + '&user_id=' + userinfo.id
                        },
                    }
                ],
                success: function(response) {
                    console.log(response);
                },
                fail: function(error) {
                    console.log(error);
                }
            });
        })
        
    </script>


    </body>

</html>